# Sepolia RPC URL (get from Infura/Alchemy)
SEPOLIA_RPC_URL=https://rpc.sepolia.org

# Your wallet private key (DO NOT COMMIT THIS TO GIT)
PRIVATE_KEY=your_private_key_here

# Your contract address
VITE_CONTRACT_ADDRESS=fill this with your own contract address

# Your chainId
VITE_CONTRACT_CHAIN_ID=11155111

# Etherscan API Key (for contract verification)
ETHERSCAN_API_KEY=your_etherscan_api_key_here
